.home-div{
    padding: 0 2em 2em 2em;
    margin: 0 auto;
    position: relative;
}

/*
    Tree divs
*/
.tree-title{
	text-align: center;
	font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}
.node{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4em;
}
.node-content{
	width: fit-content;
	padding:0.8em;
	border: 1px solid rgb(61, 56, 70);
	border-radius: 10px;
	box-shadow: 0 1em 3em rgba(0,0,0,0.175);
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
}
.even{
    background-color: rgb(111, 66, 193, 0.05);
}
.highlighted{
	color: rgb(165, 29, 45);
}