<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="../css/global.css" th:href="@{/css/global.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../css/error.css" th:href="@{/css/error.css}" />
	<title>Error page</title>
</head>

<body>
	<div th:replace="/WEB-INF/header :: header"> </div>
	
	<div class="error-div">
		<div class="error-title">ERROR!!!</div>
		<div class="error-reason">
			<b><span th:text="${errorMsg}">Error</span></b>
		</div>
		<div th:if="${session.user == null}">
			<span><a class="btn btn-medium btn-error" th:href="@{/}">Take me back to the login page</a></span>
		</div>
		<div th:unless="${session.user == null}">
			<span><a class="btn btn-medium btn-error" th:href="@{/GoToHome}">Take me back to the home page</a></span>
		</div>
	</div>
</body>
</html>